language: cpp
cache: apt
env:
  - QT_SELECT=qt5
  - QT_SELECT=qt6
services:
  - rabbitmq
before_install:
  - sudo pip install cpp-coveralls
install:
  - tests/files/travis/test-deps.sh
script:
  - qmake -config gcov
  - make
  - make check
after_success:
  - coveralls -e tutorials -e tests -E ".moc_*.cpp" -E ".*.moc*" -E ".rcc*" --gcov-options '\-lp'
